<div class="container-fluid d-flex justify-content-center flex-column align-items-center" id="bg">
    <div class="titulos mt-3">
        <h3 class="text-center lowercase">Sobre</h3>
        <h1 class="text-center uppercase">O projeto</h1>
    </div>

    <section class="carousel col-md-9 mt-5" aria-label="Gallery">
        <ol class="carousel__viewport">
          <li id="carousel__slide1"
              tabindex="0"
              class="carousel__slide">
            <div class="carousel__snapper">

                <div class= "row d-flex justify-content-center">
                    <div class="col-md-3" class="img-absolute">
                        <img src="../../assets/img/verdevetorizado.png" alt="" srcset="" class="img-size">
                    </div>

                    <div class="col-md-6 txt-relative">
                        <div class="sobre d-flex align-items-center align-content-center">
                            <p class="txtsobre">
                                Projeto Integrador para fins de conclusão do curso de Desenvolvedor Web Java Jr da Generation Brasil. Teve como objetivo a construção de um e-commerce atrelado a ODS-12: Consumo e Produção Responsáveis da ONU, com base no estreitamento da relação comercial e responsável entre membros de cooperativas e empresas compradoras.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#carousel__slide4"
               class="carousel__prev">Go to previous slide</a>
            <a href="#carousel__slide2"
               class="carousel__next">Go to next slide</a>
          </li>
          <li id="carousel__slide2"
              tabindex="0"
              class="carousel__slide">
            <div class="carousel__snapper">

                <div class= "row d-flex justify-content-center">
                    <div class="col-md-3" class="img-absolute">
                      <img src="../../assets/img/verdevetorizado.png" alt="" srcset="" class="img-size">
                    </div>

                    <div class="col-md-6 txt-relative">
                        <div class="sobre d-flex align-items-center align-content-center flex-wrap">
                            <h3>Missão</h3>
                            <p class="txtsobre">
                                Possibilitar a modernização da relação comercial entre cooperados e empresas compradoras de material reciclável, promovendo o empoderamento e automonia dos envolvidos no processo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#carousel__slide1"
               class="carousel__prev">Go to previous slide</a>
            <a href="#carousel__slide3"
               class="carousel__next">Go to next slide</a>
          </li>
          <li id="carousel__slide3"
              tabindex="0"
              class="carousel__slide">
            <div class="carousel__snapper">

                <div class= "row d-flex justify-content-center">
                    <div class="col-md-3" class="img-absolute">
                      <img src="../../assets/img/verdevetorizado.png" alt="" srcset="" class="img-size">
                    </div>

                    <div class="col-md-6 txt-relative">
                        <div class="sobre d-flex align-items-center align-content-center flex-wrap">
                            <h3>Visão</h3>
                            <p class="txtsobre">
                                Tornar-se referência da implementação do Consumo e Produção Responsáveis de materiais recicláveis por meio do serviço e-commerce e suas facilitações.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#carousel__slide2"
               class="carousel__prev">Go to previous slide</a>
            <a href="#carousel__slide4"
               class="carousel__next">Go to next slide</a>
          </li>
          <li id="carousel__slide4"
              tabindex="0"
              class="carousel__slide">
            <div class="carousel__snapper">

                <div class= "row d-flex justify-content-center">
                    <div class="col-md-3" class="img-absolute">
                      <img src="../../assets/img/verdevetorizado.png" alt="" srcset="" class="img-size">
                    </div>

                    <div class="col-md-6 txt-relative">
                        <div class="sobre d-flex align-items-center align-content-center flex-wrap">
                            <h3>Valores</h3>

                            <p class="txtsobre">
                                Sustentabilidade, Empoderamento, Transparência e Simplicidade.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#carousel__slide3"
               class="carousel__prev">Go to previous slide</a>
            <a href="#carousel__slide1"
               class="carousel__next">Go to next slide</a>
          </li>
        </ol>
    </section>
</div>

