<div class class="container-fluid" id="bg">
<div class="container pt-5 pb-5">


    <div class="row  d-flex justify-content-center align-items-center card style">
<div class="card" style="width: 20rem;">
  <img class="align-self-center card-img-top mt-3 w-75" src="{{fotoTela}}" alt="Card image cap">
  <div class="card-body">
    <h4 class="titulonome text-center card-text">
      {{nomeCooperativa}}
    </h4>
  </div>
</div>

<div class="align-middle col-md-4">
  <ul class="list-group">
   <button class="botao  btn-grad list-group-item mb-3 text-white" data-toggle="modal" data-target="#novaProduto">Cadastrar produto </button>
    <button class="botao btn-grad  list-group-item mb-3 text-white" type="button" data-toggle="collapse" data-target="#estoqueProdutos" aria-expanded="false" aria-controls="estoqueProdutos">Estoque</button>
    <button class="botao btn-grad  list-group-item mb-3 text-white" type="button" data-toggle="collapse" data-target="#historicoVendas" aria-expanded="false" aria-controls="historicoVendas">Histórico de venda</button>
    <button class="botao btn-grad  list-group-item mb-3 text-white" routerLink='/vitrine'>Vitrine </button>
  </ul>
</div>
</div>
</div>



<!-- TABELA DE ESTOQUE -->
<div class="row d-flex justify-content-center mt-4">
<div class="col-md-8">
<div class=" collapse" id="estoqueProdutos">
  <div class="corpoTabela p-5">
  <h2 class="titulo text-center">Estoque de produtos</h2>
  <table class="tabelinha table table-hover">

    <thead>
      <tr >
        <th scope="col">ID</th>
        <th scope="col">Produto</th>
        <th scope="col">Peso</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Categoria</th>
        <th scope="col">Preço</th>
        <th scope="col" class="text-right">Ação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let produtos of produtos'>
        <td>{{produtos.id}}</td>
        <td>{{produtos.nomeProduto}}</td>
        <td>{{produtos.peso}}</td>
        <td>{{produtos.peso}}</td>
        <td>{{produtos.tipo}}</td>
        <td>{{produtos.preco}}</td>

        <td class="d-flex justify-content-center">
          <button class="btn button mr-3 text-white" [routerLink]="['/produto-edit', produtos.id]" >Editar</button>
          <button class="btn btn-danger"  [routerLink]="['/produto-delete', produtos.id]" >Apagar</button>
      </td>
      </tr>

      </tbody>
  </table>
</div>
</div>
</div>
</div>
<!-- FIM DA TABELA DE ESTOQUE -->

<!-- INICIO HISTÓRICO DE VENDAS-->
<div class="row d-flex justify-content-center mt-4">
<div class="col-md-8">
  <div class="collapse" id="historicoVendas">
    <div class="corpoTabela p-5">
    <h3 class="titulo text-center">Histórico de vendas</h3>
    <table class="tabelinha table table-hover">

      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Produto</th>
          <th scope="col">Peso</th>
          <th scope="col">Quantidade</th>
          <th scope="col">Categoria</th>
          <th scope="col">Preço</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr>

        </tr>

      </tbody>
    </table>
  </div>
  </div>
    </div>
</div>
<!--FIM HISTORICO DE VENDAS -->


<!-- INICIO DO MODAL DE CADASTRAR PRODUTO -->

<div class="modal fade" id="novaProduto" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Novo Produto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label for="nomeProduto">Produto:</label>
            <input [(ngModel)]="produto.nomeProduto" type="text" class="form-control" name="nomeProduto" id="nomeProduto" placeholder="Nome">
          </div>

          <div class="form-group">
              <label for="peso">Peso</label>
              <input  [(ngModel)]="produto.peso" type="text"  class="form-control" name="peso"  id="peso" placeholder="Peso (em kg)">
            </div>

            <div class="form-group">
              <label for="qtd">Link imagem do produto</label>
              <input  [(ngModel)]="produto.fotoProduto"  type="text"  class="form-control" name="fotoProduto" id="fotoProduto" placeholder="Imagem do produto">
            </div>

            <div class="form-group">
              <label for="quantidade">Quantidade</label>
              <input  [(ngModel)]="produto.quantidade" type="text"  class="form-control" name="quantidade" id="quantidade" placeholder="Quantidade disponível">
            </div>

            <div class="form-group">
              <label for="descricao">Descrição</label>
                <textarea  [(ngModel)]="produto.descricao" name="descricao" class="form-control" id="descricao" placeholder="Breve descrição"></textarea>
            </div>

      <div class="form-group">
        <label for="texto">Categoria do Produto:        </label>
        <select (change)='categoriaTipo($event)' name='categoriaTela' id='categoriaTela'>
          <option value="-">Selecione o tipo</option>
          <option value="papel">Papel</option>
        <option value="metal">Metal</option>
        <option value="plastico">Plastico</option>
        <option value="vidro">Vidro</option>
        <option value="outros">Outros</option>
      </select>
        </div>

        <div class="form-group">
          <label for="preco">Preço</label>
          <input [(ngModel)]="produto.preco" type="text"  class="form-control"  name="preco" id="preco" placeholder="Preço do produto">
        </div>

     </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light " routerLink='/perfil' data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn button text-white" (click)='cadastrar()'>Cadastrar</button>
      </div>
    </div>
  </div>
  </div>
<!-- FIM DO MODAL DE CADASTRAR PRODUTO -->
</div>
