.form-container{
    top: 10vh;
    position: absolute;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}

@media only screen and (max-width: 678px){
    .bg{
        background-size: 300%;
    }
}
    
