<div class="container-fluid bg">

    <div class="row justify-content-center">
        <div class="cl-12 col-md-3 col-sm-6">

            <form class="form-container">
              <div class="form-group">
                <p class="text-center">
                  Bem-vinde a Coopgreen
                </p>
                <p class="text-center">
                  LOGIN
                </p>
              </div>

                <div class="form-group">
                  <label for="inputCpf">CPF/CNPJ:</label>
                  <input [(ngModel)]="userLogin.cpfOuCnpj" name="cpfOuCnpj" id="cpfOuCnpj" type="text" class="form-control" id="inputcpfOuCnpj" aria-describedby="cpfOuCnpjlHelp" placeholder="Seu CPF/CNPJ">
                  <small id="emailcpfOuCnpj" class="form-text text-muted">Nunca vamos compartilhar seu CPF/CNPJ, com ninguém.</small>
                </div>
                <div class="form-group">
                  <label  for="exampleInputPassword1">Senha:</label>
                  <input [(ngModel)]="userLogin.senha" name="senha" id="senha" type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                </div>



                <button type="button" (click)="entrar()" class="btn btn-primary btn-block"
                style="background-color: #2d6a4f" >Enviar</button>
                <hr class="mt-5 mb-5">

                <div class="form-group">
                  <p class="text-center">
                      Não tem uma conta? <a routerLink='/cadastrar'>Cadastre-se</a>
                  </p>
                </div>


              </form>
        </div>
    </div>

</div>
