<div class="container-fluid d-flex justify-content-center flex-column align-items-center" id="bg">
    <div class="titulos mt-3">
        <h3 class="text-center lowercase">Sobre</h3>
        <h1 class="text-center uppercase">O projeto</h1>
    </div>

    <section class="carousel col-md-9 mt-5" aria-label="Gallery">
        <ol class="carousel__viewport">
          <li id="carousel__slide1"
              class="carousel__slide">
            <div class="carousel__snapper">
            
                <div class= "row d-flex justify-content-center">
                    <div class="col-md-3" class="img-absolute">
                        <img src="../../../assets/img/caio.jfif" alt="" srcset="" class="img-size">
                    </div>
            
                    <div class="col-md-6 txt-relative">
                        <div class="sobre d-flex align-items-center align-content-center flex-wrap" >
                            <h3>Caio</h3>
                            <p class="txtsobre">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe illum quae voluptate quis fugit ducimus quas molestiae? Vel magnam unde temporibus doloremque est exercitationem et, fugiat praesentium, in asperiores deserunt.                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#carousel__slide6"
               class="carousel__prev">Go to previous slide</a>
            <a href="#carousel__slide2"
               class="carousel__next">Go to next slide</a>
          </li>
          <li id="carousel__slide2"
                        class="carousel__slide">
            <div class="carousel__snapper">
            
                <div class= "row d-flex justify-content-center">
                    <div class="col-md-3" class="img-absolute">
                        <img src="../../../assets/img/fer.jpeg" alt="" srcset="" class="img-size">
                    </div>
            
                    <div class="col-md-6 txt-relative">
                        <div class="sobre d-flex align-items-center align-content-center flex-wrap">
                            <h3>Fernanda</h3>
                            <p class="txtsobre">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quas hic quaerat facilis placeat consectetur quibusdam, rerum numquam libero porro, error tempora voluptatem vel veritatis iusto rem magnam! Quae, harum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#carousel__slide1"
               class="carousel__prev">Go to previous slide</a>
            <a href="#carousel__slide3"
               class="carousel__next">Go to next slide</a>
          </li>
          <li id="carousel__slide3"
             class="carousel__slide">
            <div class="carousel__snapper">
            
                <div class= "row d-flex justify-content-center">
                    <div class="col-md-3" class="img-absolute">
                        <img src="../../../assets/img/igor.jfif" alt="" srcset="" class="img-size">
                    </div>
            
                    <div class="col-md-6 txt-relative">
                        <div class="sobre d-flex align-items-center align-content-center flex-wrap">
                            <h3>Igor</h3>
                            <p class="txtsobre">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat sunt ipsam magnam deleniti a sequi itaque excepturi minima, magni rem dolor, consequuntur ipsum in dolores! Odit cum sequi distinctio quasi?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#carousel__slide2"
               class="carousel__prev">Go to previous slide</a>
            <a href="#carousel__slide4"
               class="carousel__next">Go to next slide</a>
          </li>
          <li id="carousel__slide4"
              class="carousel__slide">
            <div class="carousel__snapper">
            
                <div class= "row d-flex justify-content-center">
                    <div class="col-md-3" class="img-absolute">
                        <img src="../../../assets/img/ingrid.jfif" alt="" srcset="" class="img-size">
                    </div>
            
                    <div class="col-md-6 txt-relative">
                        <div class="sobre d-flex align-items-center align-content-center flex-wrap">
                            <h3>ingrid</h3>

                            <p class="txtsobre">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores numquam, quibusdam non enim, saepe quo tempore rerum dolor quam minus ad quae ex sunt ipsam animi alias commodi? Eveniet, reiciendis.                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#carousel__slide3"
               class="carousel__prev">Go to previous slide</a>
            <a href="#carousel__slide5"
               class="carousel__next">Go to next slide</a>
          </li>
          
          <li id="carousel__slide5"
          class="carousel__slide">
        <div class="carousel__snapper">
        
            <div class= "row d-flex justify-content-center">
                <div class="col-md-3" class="img-absolute">
                    <img src="../../../assets/img/maicon.jfif" alt="" srcset="" class="img-size">
                </div>
        
                <div class="col-md-6 txt-relative">
                    <div class="sobre d-flex align-items-center align-content-center flex-wrap">
                        <h3>Maicon</h3>

                        <p class="txtsobre">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque expedita harum veritatis aut incidunt laboriosam eum ratione. Culpa minima neque consequatur rerum molestias, placeat, itaque est veniam ullam reprehenderit dolores.                        </p>
                    </div>
                </div>
            </div>
        </div>
        <a href="#carousel__slide4"
           class="carousel__prev">Go to previous slide</a>
        <a href="#carousel__slide6"
           class="carousel__next">Go to next slide</a>
      </li>

      <li id="carousel__slide6"
      class="carousel__slide">
    <div class="carousel__snapper">
    
        <div class= "row d-flex justify-content-center">
            <div class="col-md-3" class="img-absolute">
                <img src="" alt="" srcset="" class="img-size">
            </div>
    
            <div class="col-md-6 txt-relative">
                <div class="sobre d-flex align-items-center align-content-center flex-wrap">
                    <h3>Rafa</h3>

                    <p class="txtsobre">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sit odio corporis, a minus nam recusandae non consequuntur aspernatur officia commodi eveniet, iste sunt hic, consequatur autem? Reiciendis, ex commodi?                    </p>
                </div>
            </div>
        </div>
    </div>
    <a href="#carousel__slide5"
       class="carousel__prev">Go to previous slide</a>
    <a href="#carousel__slide1"
       class="carousel__next">Go to next slide</a>
  </li>
        </ol>
    </section>

