* {
  font-family: 'Noto Sans KR', sans-serif;
}

#bg {
  background-color: #DAD7CD;
  background-size: cover;
}

h3 {
  color: #40916C;
  font-size: 18px;
}

h1 {
  color: #1B4332;
  letter-spacing: 4px;
  font-size: 22px;
}

.icon {
  fill: #ffffff;
}

.portaretrato {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top;
}

/* position - carousel content */
.img-absolute {
  position: absolute;
  z-index: 1;
  left: 14%;
  top: 6%;
  background-color: #fff;
  padding: 40px;
  -webkit-box-shadow: 0px 0px 20px -6px #000000;
  box-shadow: 0px 0px 20px -4px #000000;
}
.txt-relative {
  position: relative;
  right: -16%;
}
.img-size {
  width: 400px;
}

.sobre {
  padding: 30px 45px;
  margin-left: 30px;
  -webkit-box-shadow: 0px 0px 20px -6px #000000;
  box-shadow: 0px 0px 20px -4px #000000;
  background-color: #081C15;
  color: white;
  min-height: 450px;
}

.txtsobre {
  font-size: 16px;
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  margin-top: 10px;
}

.lowercase {
  text-transform: lowercase;
  border-bottom: 3px solid #000;
  margin-bottom: 0;
}

.uppercase {
  text-transform: uppercase;
}

/* carousel */
@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }

  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }

  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }


body {
  margin: 0 auto;
  padding: 0 1.25rem;
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent;
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 40%;
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

.carousel__viewport {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  counter-increment: item;
}

.carousel__slide:focus {
  outline: none;
}

.carousel__slide:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%,-40%,70px);
  color: #3A5A40;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #3A5A40;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.3s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  bottom: 6%;
  /* margin-top: 42.5%; */
  width: 3rem;
  height: 3rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: 45%;
}

.carousel::after,
.carousel__next {
  right: 45%;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: #3A5A40;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

.carousel::before {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAABmJLR0QA/wD/AP+gvaeTAAACEklEQVR4nO3cvWoUURjG8eco+IGtjYG0xjq9kDTegV6BhbVeiljrPQgRLBJzAykDlsaooFEshIAJeSx2FsLsLMwePXNeZ/6/cvaDl/2ze3b37I4EAAAAAAAAAAAAAAAAAAD+nu01269sn9g+tb1ve7v2XJNke8P2Jy86t/2o9nyT0sT43BFj7pvtm7XnnIQeMeZ46WpcKXXHtjck7Um60+Pqt0rNAa30zJivI32iIceKMWz7ee2ZRysjxmvb12rPPUq277r7re0yO7Zv1J57lIgRCDECIUYgxAiEGIFkxrhee+5RIkYgxAiEGIEQIxBiDC8tu8D2PUm76refIUmHkh5L+v0P5hqrM0nHKaUfy67QGSQjBvq7kPRW0pOU0of2hQtBbN+WdCBpvfxsk/ZR0mZK6eTywa4t3GcixhDWJT1tH+wKslV+FjQWHutiP3JAnq4ge4NPMV277QMs6vUcabaof798cOEZ0qz6DyR9GWiwqbmQtCPpfjuGxAfDoZ1JOkop/cy6deZXJ2xElUSUgIgSEFECIkpARAmIKAFlRHlDlMKIEhBRAiJKQEQJyPylLZ6MKC9qzzx6K0Y5t71We+Yoiuypp5TeS9pWv02uq5I2S8zxPyr2I4cVo/wqNQdaerx8fTUnnxlWE+V4yfrxsPZ8k+TZCcxeenY6plPb78xZgAAAAAAAAAAAAAAAAAAAmJY//wtOJ1nQzxIAAAAASUVORK5CYII=");
}

.carousel::after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAYAAABw4pVUAAAABmJLR0QA/wD/AP+gvaeTAAAB/ElEQVR4nO3cv2oUURiG8fcoBsRGRIsEI1gJWpkLUBLRS/BC4q0oNqK3oFhYRr0Aa60jRvxTio34WOxCwmaTrDEz87n7/MqTYfMtz04Ok2EnkSRJkiRJkiRJkiRJkiRJiwO4A7wFfgJfgWfAytBzLSTgPvCL/T4C14aeb6EAZ8dnxEE+GaVHwPohMXqLcqrLF//PnJvhmOUkW54pPQCWD9g//PM1FODhjEGM0gdgCXhplELGUZ7/RZTPwPWh555rRinIKAUdM8qNoeeea0YpyCgFGaUgoxRklIKMUpBRCuoiSjviF15IcjnJmZN8I3NmKcmTJLNepe8k2WitvZ/2w6lBgKtJHie5G29ideHAKPuCAJeSvMvozFB3tpOstda+7V2c9ul/EGP0YTXJ5uTitCC3u59FY+uTC+4Pw2JyYVqQrR4G0cjryYVpm/rFjDb11T4mWmDbSW621r7vXdx3hox3/VtJXiX53c9sC2cnyb3JGMnRF4bnk1yJF4aHOdELQ/2DY/7rxPvuXTBGIcYoxBiFGKMQYxRijELGMV4YowBjFGKMQoxRiDEKwa+01QI8MkYRwAoFvhbtPfVda0lOz3DcTpL11tqHLoYwyK4fMxzTaQztgQ+fqQcfz1QPsAG8YfQAsy/AU2B56LkkSZIkSZIkSZIkSZIkSZoLfwCdLEgjOzDYVwAAAABJRU5ErkJggg==");
}
