<div class="container-fluid d-flex justify-content-center flex-column align-items-center" id="bg">
    <div class="titulos mt-3">
        <h3 class="text-center lowercase">Sobre</h3>
        <h1 class="text-center uppercase">A Equipe</h1>
    </div>

    <section class="carousel col-md-9 mt-5" aria-label="Gallery">
        <ol class="carousel__viewport">
          <li id="carousel_slide1"
          tabindex="1"
             class="carousel__slide">
            <div class="carousel__snapper">

                <div class= "row d-flex justify-content-center">
                    <div class="img-absolute">
               <img class="portaretrato" src="https://i.imgur.com/dWwC3Vr.jpeg" alt="">
                    </div>

                    <div class="col-md-6 txt-relative">
                        <div class="sobre d-flex align-items-center align-content-center flex-wrap" >
                            <h3>Caio Oliveira</h3>
                            <p class="txtsobre">
                              Paulista e aventureiro que tem como hobby enfrentar seus desafios na arte teatral. Ainda pequeno, viu seu destino se cruzar com o universo da tecnologia. E atualmente formado como Desenvolvedor Fullstack Java Jr pela Generation Brasil.
                            </p>
                            <p  class="txtsobre">“Criatividade é inventar, experimentar, crescer, correr riscos, cometer erros e se divertir”(Mary Lou Cook)</p>


                          </div>
                    </div>
                </div>
            </div>
            <a  href="#carousel_slide6"
               class="carousel__prev">Go to previous slide</a>
            <a href="#carousel_slide2"
               class="carousel__next">Go to next slide</a>
          </li>
          <li id="carousel_slide2"
          tabindex="2"
           class="carousel__slide">
            <div class="carousel__snapper">

                <div class= "row d-flex justify-content-center">
                    <div class="img-absolute">
                        <img class="portaretrato" src="https://i.imgur.com/tW5cznZ.jpg" alt="">
                    </div>

                    <div class="col-md-6 txt-relative">
                        <div class="sobre d-flex align-items-center align-content-center flex-wrap">
                            <h3>Fernanda Andrade</h3>
                            <p class="txtsobre">
                              Cunhatã nascida e criada na Zona Leste de Manaus, atualmente uma "Jabaquarer".
                              Desenvolvedora Web FullStack Java Júnior pela Generation Brasil.
                              Formanda do curso de Letras pela Universidade Federal do Amazonas.
                              Fez transição de carreira em 2021 e tem afinidade com coordenação de equipes.
                            </p>
                            <p class="txtsobre">
                              "Se é possível que aconteça, eu vou fazer funcionar. Égua!"
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#carousel_slide1"
            class="carousel__prev">Go to previous slide</a>
         <a href="#carousel_slide3"
            class="carousel__next">Go to next slide</a>
          </li>
          <li id="carousel_slide3"
          tabindex="3"
             class="carousel__slide">
            <div class="carousel__snapper">
                <div class= "row d-flex justify-content-center">
                    <div class="col-md-3" class="img-absolute">
                        <img class="portaretrato" src="https://i.imgur.com/vONcMVS.jpg" alt="">
                    </div>

                    <div class="col-md-6 txt-relative">
                        <div class="sobre d-flex align-items-center align-content-center flex-wrap">
                            <h3>Igor Rocha e Lima</h3>
                            <p class="txtsobre">
                              O Taboanense que sonha com o mundo, e geralmente viaja em ideias sem medo da realidade.
                              Formado em  Desenvolvedor Java Jr Full Stack pela Generation Brasil em 2021.
                              Motivado em crescer e conhecer o mundo.
                            </p>
                            <p class="txtsobre">"Nós sempre nos definimos pela capacidade de superar o impossível." -Interestelar. 2014.</p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#carousel_slide2"
               class="carousel__prev">Go to previous slide</a>
            <a href="#carousel_slide4"
               class="carousel__next">Go to next slide</a>
          </li>
          <li id="carousel_slide4"
          tabindex="4"
              class="carousel__slide">
            <div class="carousel__snapper">

                <div class= "row d-flex justify-content-center">
                    <div class="img-absolute">
                        <img class="portaretrato" src="https://i.imgur.com/hJ1Ymz6.jpg" alt="">
                    </div>

                    <div class="col-md-6 txt-relative">
                        <div class="sobre d-flex align-items-center align-content-center flex-wrap">
                            <h3>Ingrid Melo</h3>

                            <p class="txtsobre">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores numquam, quibusdam non enim, saepe quo tempore rerum dolor quam minus ad quae ex sunt ipsam animi alias commodi? Eveniet, reiciendis.                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#carousel_slide3"
               class="carousel__prev">Go to previous slide</a>
            <a href="#carousel_slide5"
               class="carousel__next">Go to next slide</a>
          </li>

          <li id="carousel_slide5"
          tabindex="5"
          class="carousel__slide">
        <div class="carousel__snapper">

            <div class= "row d-flex justify-content-center">
                <div class="img-absolute">
                    <img class="portaretrato"  src="https://i.imgur.com/oH1Zyk6.jpg" alt="">
                </div>

                <div class="col-md-6 txt-relative">
                    <div class="sobre d-flex align-items-center align-content-center flex-wrap">
                        <h3>Maicon Fiuza</h3>

                        <p class="txtsobre">
                          Cria do extremo sul de São Paulo, que nas horas vagas passa nervoso com o Corinthians. Desenvolvedor Web Java FullStack júnior pela Generation Brasil.
                          Bacharel em Ciência da Computação e técnico em programação de jogos digitais.
                          Ex suporte técnico , mais conhecido como menino da TI. atualmente se encontro na transição para a área de programação.
                        </p>
                        <p class="txtsobre">
                        "O homem não para nunca, ele vence e vence"
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <a href="#carousel_slide4"
           class="carousel__prev">Go to previous slide</a>
        <a href="#carousel_slide6"
           class="carousel__next">Go to next slide</a>
      </li>

      <li id="carousel_slide6"
      tabindex="6"
      class="carousel__slide">
    <div class="carousel__snapper">

        <div class= "row d-flex justify-content-center">
            <div class="img-absolute">
                <img class="portaretrato" src="https://i.imgur.com/ajJM6cI.jpg" alt="">
            </div>

            <div class="col-md-6 txt-relative">
                <div class="sobre d-flex align-items-center align-content-center flex-wrap">
                    <h3>Rafaela Fernanda Silveira da Silva</h3>

                    <p class="txtsobre">
                      Guria da fronteira nascida e criada no Rio Grande do Sul. Estudante de Análise e Desenvolvimento de Sistemas, apaixonada por arquitetura de software e codificação.
                   Ainda criança, uma professora de português  lhe disse que seria  escritora, pois transformava uma pequena frase em grandes histórias. Hoje, a desenvolvedora web Java Jr FullStack pela Generation Brasil, transforma necessidades e problemas em soluções.
Transformando as User Stories em zeros e uns.
</p>
                                    </div>
            </div>
        </div>
    </div>
    <a href="#carousel_slide5"
       class="carousel__prev">Go to previous slide</a>
    <a href="#carousel_slide1"
       class="carousel__next">Go to next slide</a>
        </li>
        </ol>
    </section>

