<div class="container-fluid bg">
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-3">
            <form class="form-container">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Insira seu CNPJ</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="___.___.___-__">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Insira sua senha</label>
                    <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="8 digitos">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Confirmação de senha</label>
                    <input type="password" class="form-control" id="exampleFormControlInput1"
                        placeholder="Insira novamente sua senha">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Tipo de conta</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option> </option>
                        <option>Cooperativa</option>
                        <option>Comprador</option>
                    </select>
                </div>
                <div class="form-group ">
                    <label for="exampleFormControlSelect1">Localidade</label>
                    <p></p>
                    <select class="" id="exampleFormControlSelect1">
                        <option>____________________________</option>
                        <option>AC</option>
                        <option>AL</option>
                        <option>AP</option>
                        <option>AM</option>
                        <option>BA</option>
                        <option>CE</option>
                        <option>DF</option>
                        <option>ES</option>
                        <option>GO</option>
                        <option>MA</option>
                        <option>MT</option>
                        <option>MS</option>
                        <option>MG</option>
                        <option>PA</option>
                        <option>PB</option>
                        <option>PR</option>
                        <option>PE</option>
                        <option>PI</option>
                        <option>RJ</option>
                        <option>RN</option>
                        <option>RS</option>
                        <option>RO</option>
                        <option>RR</option>
                        <option>SC</option>
                        <option>SP</option>
                        <option>SE</option>
                        <option>TO</option>
                    </select>
                </div>
            <!-- <button type="button" class="btn btn-success btn-block" >Enviar</button> -->
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-danger mr-4" routerLink='/login'> Cancelar</button>
                <button type="submit" class="btn btn-success">Cadastrar</button>
            </div>
            </form>
        </section>
    </section>
</div>