<div id="carouselExampleControls" class="bg carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://i.ibb.co/RvMxrtY/1.png" alt="Logo da empresa">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.ibb.co/Vm7hTJf/3.png" alt="imagem de papel escrito papel e logo da empresa">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.ibb.co/YLY0LQR/4.png" alt="imagem de garrafas d'água escrito plástico e logo da empresa">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.ibb.co/sR3mG0q/5.png" alt="imagem de alguns vidros e logo da empresa">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.ibb.co/sWNx74F/2.png" alt="imagem de metal escrito metal e logo da empresa">
    </div>



    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>



  <div class="container-fluid pb-5" style="position: relative;">
    <hr class="mt-5 justify-content-center">
    <h1 text-center>Produtos em Destaque</h1>
    <hr class="mb-5" />

    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">

      <div class="col" *ngFor="let item of listaProdutos">
        <div class="card h-100 shadow-sm">
          <img src="{{item.fotoProduto}}" class="card-img-top" alt="imagem do produto">
          <div class="label-top shadow-sm">{{item.tipo}}</div>
          <!---->
          <div class="card-body">
            <div class="clearfix mb-3 "> <span class="float-end"><a href="#"
                  class="small text-muted mr-2">Preço</a></span>
                  <span class="float-start badge rounded-pill">R$ {{item.preco}}</span> </div>
            <h5 class="card-title">{{item.descricao}}</h5>
            <div class="text-center my-4"> <a [routerLink]="['/produto-detalhes', item.id]" class="btn btn-warning">Ver Produto</a> </div>
          </div>
        </div>
      </div>


    </div>
  </div>
